.card{
    font-size: 17px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 10px;
    margin-right: 25px;
    background: #beffff;
    border-radius: 4px;
    cursor: pointer;
}